.container
{
    margin: auto;
    width: 500px;
    max-width: 90%;
    background-color: #FAF7F0;
    height: 100%;
    outline-color: #98A8F8 ;
    outline-width: 1px;
    outline-style: solid;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,.3);
}
.title-aboutus
{
    color: #98A8F8;
    font-size: 40px;
    text-align: center;
}
.title
{
    color: #98A8F8;
    font-size: 40px;
    text-align: center;
}
body
{
    min-height: 100vh;
    background-color: #eee;
    display: flex;
    font-family: sans-serif;
}
.Content
{
    text-align: justify;
    font-family: Lucida Sans;
}
.tab
{
    display: inline-block;
    margin-left: 40px;
}
