.title{
    color: #98A8F8;
    font-size: 40px;
    text-align: Left;
}
.kotak{
    margin: auto;
    width: 500px;
    max-width: 90%; 
    background-color: #FAF7F0;
    height: 100%;
    outline-color: #98A8F8 ;
    outline-width: 1px;
    outline-style: solid;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,.3);
}
.offline{
    float: left;
    width: 170px;
    height: 30px;
    border: black 2px;
    outline: none;
    background: #98A8F8;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding-top: 4px;
    color: white;
    border-radius: 20px;
    transition: .3s}
.online{
    float: right;  
    width: 170px;
    height: 30px;
    border: black;
    outline: none;
    background: #98A8F8;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding-top: 4px;
    color: white;
    border-radius: 20px;
    transition: .3s;
}